body{background-image: url(bgmi\ bb.webp);background-repeat: no-repeat;background-size: cover; background-position: center;width: 1000;height: 1000;}
#go{padding: 10px 50px 20px 10px;background-color: crimson;}
.goes{padding: 10px;text-align: center; background-color: chartreuse;}