body{background-image: url(forza\ bg.jpeg);background-repeat: no-repeat;background-size: cover;height: 2000px;background-position: center;}
#hlo{padding: 10px 50px 20px 10px;background-color: crimson;}
.hi{padding: 10px;text-align: center; background-color: chartreuse;}
.as1{background-image: url(forizon\ bg\ 2.jpeg); background-repeat: no-repeat;background-size: cover;width: 1500px;height: 200px;}